{{ $all_stories := partialCached "func/get-flat-story-list.html" . }}

{{ $word_count := 0 }}
{{ $story_count := len $all_stories }}

{{ range $all_stories }}
  {{ range .Pages }}
    {{ if not (partial "func/test-if-chapter.html" .) }}{{ continue }}{{ end }}
    {{ $word_count = add $word_count (countwords .Content) }}
  {{ end }}
{{ end }}

{{ $story_text := i18n "story" (dict "Count" 2) }}
{{ $word_text := i18n "word" (dict "Cout" 2) }}
{{ $final_string := printf "%s %s, ~%s %s" ($story_count | lang.NumFmt 0) $story_text ($word_count | lang.NumFmt 0) $word_text }}
{{ return $final_string }}