<!DOCTYPE html>
{{ $lang := .Language.Lang }}
<html lang="{{ $lang }}" xml:lang="{{ $lang }}">
  <head>
    {{ block "head" . }}
      {{- partial "head.html" . -}}
    {{ end }}

    {{ block "head-custom" . }}{{ end }}
  </head>
  
  {{ $color := partial "func/color-scheme.html" . }}
  <body class="{{ $color }}">

    {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
    {{ block "pre-main" . }}{{ end }}
    
    <main>{{ block "main" . }}{{ end }}</main>
    
    {{ block "footer" . }}
      {{ partialCached "site-footer.html" . }}
      {{ partialCached "site-font-select.html" . }}
      {{ partial "language-picker.html" . }}
      {{ partial "site-javascript-attributes.html" . }}

      {{ partialCached "lazy-load.html" . }}
      {{ partial "lazy-load-uncached.html" . }}
    {{ end }}

    <!-- Used by unique page templates, don't put anything important in here -->
    {{ block "lazy_load" . }}{{ end }}
  </body>
</html>
