<div id="font-menu">
  <div class="font-menu-container">
    <div class="font-category-block" style="background-color: rgb(232, 163, 163);">
      <h2>{{ i18n "font-select-instruction" }}</h2>
      <div class="font-container block-center">
        <button class="font-select-btn" name="georgia" title='Georgia ({{ i18n "font-remark-georgia" }})'>Georgia</button>
        <button class="font-select-btn" name="baskerville" title='Baskerville ({{ i18n "font-remark-baskerville" }})'>Basker&shy;ville</button>
        <button class="font-select-btn" name="garamond" title='Garamond ({{ i18n "font-remark-garamond" }})'>Gara&shy;mond</button>
        <button class="font-select-btn" name="merriweather" title='Merriweather ({{ i18n "font-remark-merriweather" }})'>Merri&shy;weather</button>
        <button class="font-select-btn" name="gentium" title='Gentium ({{ i18n "font-remark-gentium" }})'>Gentium Book Plus</button>
        <button class="font-select-btn" name="roboto-serif" title='Roboto Serif ({{ i18n "font-remark-roboto-serif" }})'>Roboto Serif</button>
        <button class="font-select-btn" name="caslon" title='Caslon ({{ i18n "font-remark-caslon" }})'>Caslon</button>
        <button class="font-select-btn" name="literata" title='Literata ({{ i18n "font-remark-literata" }})'>Literata</button>
        <button class="font-select-btn" name="vollkorn" title='Vollkorn ({{ i18n "font-remark-vollkorn" }})'>Vollkorn</button>
        <button class="font-select-btn" name="imfell" title='IM Fell ({{ i18n "font-remark-imfell" }})'>IM Fell</button>
      </div>
      <h3>{{ (i18n "font-select-book") | humanize }}</h3>
    </div>

    <div class="font-category-block" style="background-color: #EEE;">
      <div class="font-container block-center">
        <button class="font-select-btn" name="cabin" title='Cabin ({{ i18n "font-remark-cabin" }})'>Cabin</button>
        <button class="font-select-btn" name="roboto" title='Roboto ({{ i18n "font-remark-roboto" }})'>Roboto</button>
        <button class="font-select-btn" name="bellota-text" title='Bellota Text ({{ i18n "font-remark-bellota-text" }})'>Bellota Text</button>
        <button class="font-select-btn" name="open-sans" title='Open Sans ({{ i18n "font-remark-open-sans" }})'>Open Sans</button>
        <button class="font-select-btn" name="merriweather-sans" title='Merriweather Sans ({{ i18n "font-remark-merriweather-sans" }})'>Merri&shy;weather Sans</button>
      </div>
      <h3>{{ (i18n "font-select-modern") | humanize }}</h3>
    </div>

    <div class="font-category-block" style="background-color: #b4d2dd;">
      <div class="font-container block-center">
        <button class="font-select-btn" name="overlock" title='Overlock ({{ i18n "font-remark-overlock" }})'>Overlock</button>
        <button class="font-select-btn" name="nunito" title='Nunito ({{ i18n "font-remark-merriweather-nunito" }})'>Nunito</button>
        <button class="font-select-btn" name="mali" title='Mali ({{ i18n "font-remark-mali" }})'>Mali</button>
        <button class="font-select-btn" name="bellota" title='Bellota ({{ i18n "font-remark-bellota" }})'>Bellota</button>
        <button class="font-select-btn" name="balsamiq-sans" title='Balsamiq Sans ({{ i18n "font-remark-balsamiq" }})'>Balsa&shy;miq Sans</button>
        <button class="font-select-btn" name="grandstander" title='Grandstander ({{ i18n "font-remark-grandstander" }})'>Grand&shy;stander</button>
        <button class="font-select-btn" name="simonetta" title='Simonetta ({{ i18n "font-remark-simonetta" }})'>Simo&shy;netta</button>
        <button class="font-select-btn" name="comic-neue" title='Comic Neue ({{ i18n "font-remark-comic-neue" }})'>Comic Neue</button>
      </div>
      <h3>{{ (i18n "font-select-playful") | humanize }}</h3>
    </div>
  </div>
</div>