@use "sass:map";
@use "sass:list";

@use "modules/globals" as g;

// font selector menu
#language-picker {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background: beige;
    color: #333;
  
    overflow-y: scroll;
    padding: 1em;

    h1,h2,h3 {
      text-align: center;
    }

    .language-picker-flexbox {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 100%;
    }

    .language-picker-container {
      max-width: 600px;
    }

    .language-picker-navigation {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
    }

    .language-button {
      width: 100%;
      display: block;
      background: #c7975e;
      padding: 0.5em;
      border-radius: 0.5em;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s, background-color 0.3s;

      &:hover {
        background: #492b05;
        color: beige;
      }
    }

    .active-language {
      opacity: 0.66;
      //transform: scale(0.8);
    }
}